{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Косметолог Марьяна</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'album.css' %}" rel="stylesheet">
</head>

<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Обо мне</h4>
                    <p class="text-muted">Ваш Косметолог Марьяна✨ Предлагаю оставаться молодой и красивой❣
                        Привет! Я Марьяна Мамяшева, косметолог широкого профиля с медицинским образованием.

                        Прошла обучение в Академии стандарт. Через мои ручки прошло более 50 моделей. Регулярно посещаю
                        вебинары и семинары.

                        Все процедуры проводятся индивидуально с учетом Вашего возраста и типа кожи.

                        Буду рада с тобой знакомству.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Меню</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.instagram.com/cosmetolog_m.ren?igsh=MWx5cHRhcmsxbmRyMg%3D%3D&utm_source=qr"
                               class="text-white">Инстаграм</a></li>
                        <li>
                            <a href="https://vk.com/maryana_ren"
                               class="text-white">Вконтакте</a></li>
                        {% if user.is_authenticated %}
                            </li><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
                        {% else %}
                            </li> <a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'service:service_list' %}" class="navbar-brand d-flex align-items-center">
                <strong>Главная</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">


    <div class="album py-5 bg-light">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
</body>
</html>
